element.style {
    height: 160px;
    width: 160px;
}
.yNWQ8e, .ZYyTud, .kJ9uy {
    display: none;
}
.buPxGf {
    background-color: white;
}
* {
    -webkit-tap-highlight-color: transparent;
}
.N9c7d {
    background-color: #f5f5f5;
    position: relative;
    text-align: center;
}
.V2Vq5e {
    color: #616161;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
}
.uMConb {
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%), 0px 1px 3px 0px rgb(0 0 0 / 20%);
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
}
style attribute {
    visibility: visible;
    opacity: 1;
}
body {
    background-color: #eee;
    color: #333;
    font-family: "Roboto",Arial,sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    height: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    z-index: -1;
}
body {
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    text-size-adjust: 100%;
}