h1 {
    color: brown;
    margin-left: 30px;
}

.header * {
    border: solid;
} 

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: #FFF5C3;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 20px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
} 
a:hover{
    color: wheat;
}
.appoint{
    position: absolute;
}
.feedback{
    position: absolute;
    left: 10%
}
.new-1{
    position: center;
    text-decoration-color: red;
    text-emphasis-color: black;
    background-color: #5cFFC3;
}